:root {
    --background: #472626;
    --primary: #E64C4C;
    --secundary: #E08D8D;
    --darker: #612020;
    --white: #FFF;
}

@mixin element-focus {
    outline-color: var(--white);
    outline-style: solid;
    outline-width: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Nunito',sans-serif;
}

body {
    background-color: var(--background);
}

.btn {
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #E64C4CCC;
    }
    &:focus {
        @include element-focus;
    }
}

.wrapper {
    padding: 0 30px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    h1 {
        font-size: 4rem;
        color:var(--white);
    }
}

.main {
    height: calc(100vh - 120px);
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &__buttons,
    &__user,
    .size-container {
        width: 100%;
        display: inherit;
        gap: 10px;
        align-items: center;
    }
    .size-container {
        justify-content: center;
        .size {
            font-size: 1.8rem;
            font-weight: bold;
            color:var(--white);
        }
    }
    &__user {
        font-size: 1.8rem;
        color:var(--white);
        justify-content: flex-end;
        p {
            font-weight: bold;
            span {
                font-weight: normal;
            }
        }
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px,200px));
    justify-content: center;
    place-items: center;
    gap: 20px;
    height: calc(100% - 81px);
    padding: 30px 0;
    &--small {
        @extend .cards;
        grid-template-columns: repeat(auto-fit, minmax(170px,250px));
    }
    &--large {
        @extend .cards;
        grid-template-columns: repeat(auto-fit, minmax(170px,180px));
    }
}

.card {
    height: 100%;
    width: 140px;
    position: relative;
    transition: all 1s ease;
    transform-style: preserve-3d;
    &--active {
        transform: rotateY(180deg);
        transition: all 1s ease;
    }
    &--small {
        @extend .card;
        width: 170px;
    }
    &--large {
        @extend .card;
        width: 120px;
    }
}

.front {
    overflow: hidden;
    transform: rotateY(180deg);
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        &[alt] {
            font-size: 1.8rem;
        }
    }
}

.face {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.back {
    background-color:var(--white);
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0,var(--white) 10px ), 
    repeating-linear-gradient( #E08D8D55, var(--secundary) );
    cursor: pointer;
    &:focus {
        @include element-focus;
    }
}

.overlay {
    display: grid;
    place-items: center;
    position:fixed;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: #0005;
    visibility: hidden;
    overflow: hidden;
    &.active {
        visibility: visible;
    }
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background-color:var(--white);
    gap: 30px;
    &__title {
        font-size: 4rem;
        color: indianred;
    }
    &__results {
        display: flex;
        column-gap: 20px;
        span {
            font-weight: bold;
        }
    }
    &__time,
    &__tries {
        font-size: 1.6rem;
    }
 }